.FileBrowser {
  .FileList {
    opacity: 100%;
    transition: visibility 0s linear 0.1s, opacity 0.1s linear;
  }
}

.FileBrowser.isLoading {
  .FileList {
    opacity: 50%;
    transition: visibility 0s linear 0.1s, opacity 0.1s linear;
  }
}
