@import './variables';

body {
  display: flex;
  margin: 0;
  font-family: $BASE_FONT;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

a {
  color: $LINK_COLOUR;
  text-decoration: none;
}

p {
  margin: 0;
}
